$white: #ffffff;
$primary: #30C5FF;
$secondary: #304956;
$tertiary: #E6F3FF;
$lightBackground: #EEF5F8;
$gray300: #F5F5F5;
$gray400: #E0E0E0;
$gray450: #D2D2D2;
$gray500: #9E9E9E;
$gray600: #757575;
$gray700: #424242;
$gray900: #212121;
$success: #3C9526;
$error: #EF0B0B;
