@import 'colors.scss';
@import 'icons.scss';
@import 'scroll.scss';

@import './mixins/header.scss';
@import './mixins/footer.scss';
@import './mixins/buttons.scss';
@import './mixins/regions.scss';
@import './mixins/country-list.scss';
@import './mixins/country-details.scss';
@import './mixins/countries.scss';
@import './mixins/regions-list.scss';
@import './mixins/regions-item.scss';
@import './mixins/breadcrumbs.scss';
@import './mixins/spinner.scss';

@include header($primary, $secondary, $white);
@include footer($primary, $secondary, $white);
@include buttons($primary, $secondary, $white);
@include spinner($primary);
@include breadcrumbs($primary, $secondary);
@include countryList($primary, $gray300, $lightBackground);
@include countryDetails($primary, $secondary, $lightBackground);
@include countries($secondary, $lightBackground);
@include regions($primary, $secondary, $white);
@include regionsList($primary, $secondary, $lightBackground, $white);
@include regionsItem($primary, $secondary, $white);


html{
    font-size: 10px;
  }

  body,html {
    font-family: 'Poppins', sans-serif;
    color: #304956;
  }

  h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
  }

  h1{
    font-size: 4rem;
    font-weight: 600;
    line-height: 1.1;
  }

  p{
    font-size: 1.6rem;
  }

  body{
    margin: 0;
    padding: 0;
  }