<div class="regions">
    <header class="regions__header">
        <div class="regions__caption-left">
            <img src="../../../assets/images/triangle.svg" alt="triangle" class="regions__triangle">
            <h1 class="regions__title">
                Regions
            </h1>
            <p class="regions__description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut ex nulla. Morbi non lobortis lectus. Suspendisse pulvinar ipsum ipsum, vitae pellentesque lectus faucibus non. 
            </p>
        </div>
        <div class="regions__caption-right">
            <img src="../../../assets/images/continents-of-earth.svg" alt="continents" class="regions__continents-img">
        </div>
    </header>
    <section class="regions__list">
        <regions-list-component></regions-list-component>
    </section>
</div>
