
    <div class="countries-list">
        <div class="countries-list__table-container">
            <table class="countries-list__table">
                <thead>
                    <tr class="countries-list__head-row">
                        <th class="countries-list__head-cell countries-list__head-cell--first">
                            #
                        </th>
                        <th class="countries-list__head-cell countries-list__head-cell--second">
                            Name
                        </th>
                        <th class="countries-list__head-cell countries-list__head-cell--third">
                           Capital
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let country of (countries$ | async); let i = index">
                        <tr class="countries-list__row" (click)="onCountryRowClicked(country)">
                          <td class="countries-list__cell countries-list__cell--first">
                              <span>{{i + 1}}</span>
                          </td>
                          <td class="countries-list__cell countries-list__cell--second">
                             {{country.name.official}}
                          </td>
                          <td class="countries-list__cell countries-list__cell--third">
                            {{country.capital[0]}}
                          </td>
                      </tr> 
                    </ng-container>
                </tbody>
            </table>
        </div>
</div>
